{% extends 'starter.html.twig' %}

 {% block MainContent %}
     
      <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Dokument</th>
                  <th>Sprzedawca</th>
                  <th>Data dokumentu</th>
                  <th>Data płatności</th>
                  <th>Kwota</th>
                  <th>Status Realizacji</th>
                  <th>Akcja</th>
              </tr>
              {% for i in 1..10 %}
                <tr>
                  <td><a href="/dokument">RO/{{i}}/01/2017</a></td>
                  <td>Monika Rudkowska</td>
                  <td>11-7-2014</td>
                  <td>18-7-2014</td>
                  <td>1234 zł</td>
                  <td><span class="label label-success">Zrealizowane</span></td> 
                   <td>
                      <a href="/dokument" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                  <a href="/dokument" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Drukuj</a>
                  </td>
                </tr>
                {% endfor %}
    <h1>Dokuments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Trntrnid</th>
                <th>Trntypdokumentu</th>
                <th>Trnnumerpelny</th>
                <th>Trnrazemnetto</th>
                <th>Trnrazemvat</th>
                <th>Trnrazembrutto</th>
                <th>Trndatadok</th>
                <th>Trnpodid</th>
                <th>Trntermin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dokument in dokuments %}
        
             <tr>
                  <td>{{ dokument.trNNumerPelny }}</td>
                  <td>Monika Rudkowska</td>
                  <td>11-7-2014</td>
                  <td>18-7-2014</td>
                  <td>1234 zł</td>
                  <td><span class="label label-success">Zrealizowane</span></td> 
                   <td>
                      <a href="/dokument" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                  <a href="/dokument" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Drukuj</a>
                  </td>
                </tr>
            <tr>
                <td><a href="{{ path('doc_show', { 'id': dokument.id }) }}">{{ dokument.id }}</a></td>
                <td>{{ dokument.trNTrNID }}</td>
                <td>{{ dokument.trNTypDokumentu }}</td>
                <td>{{ dokument.trNNumerPelny }}</td>
                <td>{{ dokument.trNRazemNetto }}</td>
                <td>{{ dokument.trNRazemVAT }}</td>
                <td>{{ dokument.trNRazemBrutto }}</td>
                <td>{% if dokument.trNDataDok %}{{ dokument.trNDataDok|date('Y-m-d') }}{% endif %}</td>
                <td>{{ dokument.trNPodID }}</td>
                <td>{% if dokument.trNTermin %}{{ dokument.trNTermin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('doc_show', { 'id': dokument.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('doc_edit', { 'id': dokument.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('doc_new') }}">Create a new dokument</a>
        </li>
    </ul>
{% endblock %}
