{% extends 'starter.html.twig' %}

 {% block MainContent %}
    <h1>Dokument</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dokument.id }}</td>
            </tr>
            <tr>
                <th>Trntrnid</th>
                <td>{{ dokument.trNTrNID }}</td>
            </tr>
            <tr>
                <th>Trntypdokumentu</th>
                <td>{{ dokument.trNTypDokumentu }}</td>
            </tr>
            <tr>
                <th>Trnnumerpelny</th>
                <td>{{ dokument.trNNumerPelny }}</td>
            </tr>
            <tr>
                <th>Trnrazemnetto</th>
                <td>{{ dokument.trNRazemNetto }}</td>
            </tr>
            <tr>
                <th>Trnrazemvat</th>
                <td>{{ dokument.trNRazemVAT }}</td>
            </tr>
            <tr>
                <th>Trnrazembrutto</th>
                <td>{{ dokument.trNRazemBrutto }}</td>
            </tr>
            <tr>
                <th>Trndatadok</th>
                <td>{% if dokument.trNDataDok %}{{ dokument.trNDataDok|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Trnpodid</th>
                <td>{{ dokument.trNPodID }}</td>
            </tr>
            <tr>
                <th>Trntermin</th>
                <td>{% if dokument.trNTermin %}{{ dokument.trNTermin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('doc_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('doc_edit', { 'id': dokument.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
