{% extends 'starter.html.twig' %}
 {% block PageHeader %}
    <section class="content-header">
      <h1>
        Towary
        <small>Lista towarów</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Towary</li>
      </ol>
    </section>
        {% endblock %}
{% block MainContent %}
   
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Towary</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                    <tr>
                  <th>Kod towaru</th>
                  <th>Nazwa towaru</th>
                  <th>Ilość na magayznie</th>
                  <th>J.M/</th>
                  <th>Cena</th>
                  <th>Status</th>
                  <th></th>
              </tr>
              {% for i in 1..10 %}
                <tr>
                  <td><a href="/towar"> 123313-{{i}}</a></td>
                  <td>Płytka ścienna blue</td>
                  <td>123{{i}}</td>
                  <td>m2</td>
                  <td>12{{i}}34 zł</td>
                  <td><span class="label label-info">Promo</span></td>   
                    <td>
                        <a href="/towar" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                       <a href="/towar" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span>Dodaj do zamówienia</a>
                   </td>
                </tr>
                {% endfor %}
                {% for i in 1..3 %}
                  <tr>
                  <td><a href="/towar"> 123313-{{i}}</i></a></td>
                  <td>Płytka ścienna blue</td>
                  <td>123{{i}}</td>
                  <td>m2</td>
                  <td>12{{i}}34 zł</td>
                  <td><span class="label label-warning">Wyprzedaż</span></td>    
                   <td>
                        <a href="/towar" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-zoom-in"></span> Pokaż</a>
                       <a href="/towar" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span>Dodaj do zamówienia</a>
                   </td>
                </tr>
                {% endfor %}
               
                
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
   {% endblock %}